{% extends 'layout.html' %}

{% block title %} Simple book site {% endblock %}

{% block content %}
	<h1>Current list</h1>
	<div class='row marketing'>
	<div style='font-size: 22px; font-weight: 600;'>
		<div class='col-md-2'> Title of book </div>
		<div class='col-md-2'> Author </div>
		<div class='col-md-2'> Year </div>
		<div class='col-md-2'> Rating </div> 
		<div class='col-md-2'> - </div> 
		<div class='col-md-2'> - </div> 
		</div>
	{% for book in books %}
		<div class='col-md-2'> {{ book.title }} </div>
		<div class='col-md-2'> {{ book.author }} </div>
		<div class='col-md-2'> {{ book.year }} </div>
		<div class='col-md-2'> {{ book.rating }} </div> 

		<div class='col-md-2'>
			<a href="/book/{{ book._id.toString() }}">Edit</a>
			</div>
		<div class='col-md-2'>
        	<a href="/book/remove/{{ book._id.toString() }}">Delete</a>
    	</div>
		{% endfor %}
	</div>
	<br/>
	<a href='/book'
		class='btn btn-primary btn-lg'
		role='button'>Create new book
	</a>

{% endblock %}


